h1
{
background-color:grey;
text-align:center;
border:2px;

}
body
{
background-image:url('E:\wp2369710.jpg')
background-size:40%;
}
#abc
{
text-align:right;
color:yellow;
}
.abd
{
background-color:white;
text-decoration:underline;
}